<!--#region Include CSS-->
<link href="@Url.Content("~/Extension/css/select2.min.css")" rel="stylesheet">
<link href="@Url.Content("~/Extension/css/icheck.css")" rel="stylesheet">
<link href="@Url.Content("~/Extension/css/intlTelInput.css")" rel="stylesheet" />
<link href="@Url.Content("~/Extension/css/PNotifyBrightTheme.css")" rel="stylesheet" />
<!--#endregion-->
<!--#region Html-->
<div class="animated fadeIn">
    <p class="text-muted">Setup which sections are accessible to each user permission level. All logged in staff can access the calendar, and owner accounts have full system access.</p>
    <div class="form-group" id="containtServiceCustomer"></div>
    <div class="row" style="margin-left:0px">
        <div class="col-12">
            <button type="button" class="btn btn-custome" id="excuteButton" data-style="slide-right">Save Changes</button>
        </div>
    </div>
</div>
<!--#endregion-->
<!--#region Include JS-->
<script src="@Url.Content("~/Extension/js/icheck.min.js")"></script>
<script src="@Url.Content("~/Extension/js/select2.min.js")"></script>
@Scripts.Render("~/Scripts/inputmask")
<script src="@Url.Content("~/Extension/js/intlTelInput.min.js")"></script>
<script src="@Url.Content("~/Scripts/staff/permissions/index.js")"></script>
<!--#endregion-->