@Styles.Render("~/Style/datatable")
<link href="@Url.Content("~/Extension/css/select2.min.css")" rel="stylesheet">
<link href="@Url.Content("~/Extension/css/intlTelInput.css")" rel="stylesheet" />
<link href="@Url.Content("~/Extension/css/PNotifyBrightTheme.css")" rel="stylesheet" />
<link href="@Url.Content("~/Extension/css/icheck.css")" rel="stylesheet">
<link href="@Url.Content("~/Content/ivory-style.css")" rel="stylesheet">

<div class="animated fadeIn diss-page">
    <div class="card">
        <div class="card-body">
            <table class="table table-responsive-sm table-sm datatable no-footer" style="width:100%" id="table">
                <thead>
                    <tr>
                        <th>DISCOUNT TYPE</th>
                        <th>VALUE</th>
                        <th>DATE ADDED</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="containtButtonFooter" id="containtButtonCreate">
        </div>
    </div>
</div>
<div class="modal fade" id="actionModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="TitleModal">Modal title</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <form novalidate="novalidate" id="actionForm">
                    <div class="form-group">
                        <input type="hidden" id="DiscountID" ispropertiesmodel ispropertiesidmodel />
                        <label class="col-form-label">DISCOUNT NAME</label>
                        <input type="text" class="form-control" id="DiscountName" name="DiscountName" placeholder="e.g. Senior Citizens" ispropertiesmodel maxlength="200" />
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-fhd-6 col-xlg-6 col-md-6 col-sm-12 col-xs-12">
                                <label class="col-form-label">DISCOUNT VALUE</label>
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="input_group_text">%</span>
                                    <input id="DiscountValue" name="DiscountValue" class="form-control" type="number" ispropertiesmodel>
                                </div>
                            </div>
                            <div class="col-fhd-6 col-xlg-6 col-md-6 col-sm-12 col-xs-12">
                                <div class="row" style="margin-top:45px">
                                    <input type="radio" name="IsPercentage" id="IsPercentage" value="discount_discount_type_percentage" ispropertiesmodel />
                                    <label style="padding-left:10px; margin-bottom:0px">% percentage</label>
                                    <input style="margin-left:10px" type="radio" name="IsPercentage" value="discount_discount_type_fixed" />
                                    <label style="padding-left:10px; margin-bottom:0px"> <span id="CurrencyCode"></span> amount</label>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="form-group">
                        <input type="checkbox" id="EnableForServiceSales" name="EnableForServiceSales" ispropertiesmodel />
                        <label class="col-form-label">ENABLE FOR SERVICE SALES</label>
                    </div>
                    <div class="form-group">
                        <input type="checkbox" id="EnableForProductSales" name="EnableForProductSales" ispropertiesmodel />
                        <label class="col-form-label">ENABLE FOR PRODUCT SALES</label>
                    </div>
                    <div class="form-group">
                        <input type="checkbox" id="EnableForVoucherSales" name="EnableForVoucherSales" ispropertiesmodel />
                        <label class="col-form-label">ENABLE FOR VOUCHER SALES</label>
                    </div>
                </form>
            </div>
            <div class="modal-footer">

                <div class="col-fhd-3 col-xlg-3 col-md-3 col-sm-6 col-xs-6">
                    <button type="button" class="btn btn-danger btn-block active" id="deleteButton">DELETE</button>
                </div>
                <div class="col-fhd-3 col-xlg-3 col-md-3 col-sm-6 col-xs-6 hidden-xs"></div>
                <div class="col-fhd-3 col-xlg-3 col-md-3 col-sm-6 col-xs-6 hidden-xs">
                    <button type="button" class="btn btn-block btn-outline-dark" data-dismiss="modal">CANCEL</button>
                </div>
                <div class="col-fhd-3 col-xlg-3 col-md-3 col-sm-6 col-xs-6">
                    <button type="button" class="btn btn-block btn-success" id="actionButton" data-style="slide-right">SAVE</button>
                </div>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
@Scripts.Render("~/Scripts/PNotify")
@Scripts.Render("~/Scripts/datatable")
<script src="@Url.Content("~/Extension/js/icheck.min.js")"></script>
<script src="@Url.Content("~/Extension/js/intlTelInput.min.js")"></script>
<script src="@Url.Content("~/Extension/js/select2.min.js")"></script>
<script src="@Url.Content("~/Scripts/setup/discounts.js")"></script>