<!--#region Include CSS-->
@Styles.Render("~/Style/datatable")
<link href="@Url.Content("~/Extension/css/select2.min.css")" rel="stylesheet">
<link href="@Url.Content("~/Extension/css/icheck.css")" rel="stylesheet">
<link href="@Url.Content("~/Extension/css/PNotifyBrightTheme.css")" rel="stylesheet" />
<link href="@Url.Content("~/Extension/css/daterangepicker.min.css")" rel="stylesheet" />
<!--#endregion-->
<!--#region Html-->
<div class="animated fadeIn">
    <div class="col-md-12">
        <section class="nav-tabs-scrollable-container reports-nav">
            <ul class="nav nav-pills nav-main" id="myTab1" role="tablist">
                <li class="nav-item">
                    <a class="nav-link @(ViewBag.Tag == 1 ? "active show" : "")" href="/Reports/Dashboard" role="tab">DASHBOARD</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link @(ViewBag.Tag == 2 ? "active show" : "")" href="/Reports/Reports" role="tab">REPORTS</a>
                </li>
            </ul>
        </section>
        <div class="tab-content tab-content-main" id="myTab1Content">
            <div class="tab-pane fade active show" role="tabpanel">
                @{
                    String fileView = ViewBag.URL;
                    @Html.Partial(fileView);
                }
            </div>
        </div>
    </div>

</div>
<!--#endregion-->
<!--#region Include JS-->
<script src="@Url.Content("~/Extension/js/daterangepicker.min.js")"></script>
<script src="@Url.Content("~/Extension/js/select2.min.js")"></script>
<script src="@Url.Content("~/Extension/js/icheck.min.js")"></script>
<script src="@Url.Content("~/Extension/js/jquery.inputmask.bundle.min.js")"></script>
@Scripts.Render("~/Scripts/datatable")
@Scripts.Render("~/Scripts/PNotify")
<!--#endregion-->